/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* lOGO + TITOLO */
header {
    vertical-align: middle;
    line-height: 60px;
    padding: 10px 10px 10px 30px;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* MAIN */
.background {
    background-color: rgba(211, 211, 211, 0.972);
    width: auto;
    height: 1000px;
}

.contenitore {
    width: 50%;
    height: 50%;
    background-color: white;
    margin: 2% 20%;
}

/* BUTTONS */
#task {
    background-color: royalblue;
    padding: 4px 7px;
    font-weight: bold;
    color: white;
    
}

h2{
    display: inline;
}

.list-section {
    margin-bottom: 20px;
}

.check {
    border: solid;
    border-width: thin;
    border-radius: 50px;
    color: green;
    background-color: white;
    border-color: green;
    padding: 1px 3px;
    font-size: 8px;
}

.span1 {
    border: solid green;
    border-radius: 50px; 

}


ul {
    list-style-type: none;
    
}