/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* lOGO + TITOLO */
header {
    vertical-align: middle;
    line-height: 60px;
    padding: 10px 10px 10px 30px;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* MAIN */
.background {
    background-color: rgba(211, 211, 211, 0.972);
    width: auto;
    height: 1000px;
}

.contenitore {
    width: 50%;
    height: 50%;
    background-color: white;
    margin: 2% 20%;
}

h2{
    display: inline;
}

.list-section {
    margin-bottom: 20px;
}

.check {
    border: 10px;
    border-radius: 50px;
    color: green;
    
    
}