/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* lOGO + TITOLO */
header {
    vertical-align: middle;
    line-height: 60px;
    padding: 10px 10px 10px 30px;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* MAIN SETTINGS*/
.background {
    background-color: rgba(211, 211, 211, 0.972);
    width: auto;
    height: 1000px;
}

.contenitore {
    width: 50%;
    height: 50%;
    background-color: white;
    margin: 2% 20%;
    border-radius: 10px;
}

.options {
    border-radius: 6px;
}


/* BUTTONS */
.task {
    background-color: royalblue;
    padding: 4px 10px;
    font-weight: bold;
    font-size: smaller;
    color: white;
    border-style: solid;
    border-color: royalblue;
}

.add-button {
    background-color: white;
    padding: 4px 7px;
    font-weight: bold;
    color: lightgrey;
    border-style: solid;
    border-color: lightgrey;
}



/* NEW, TODAY, UPCOMING */

ul {
    list-style-type: none;
}



h2 {
    display: inline;
}

.list-section {
    margin-bottom: 20px;
}

.check {
    border: solid;
    border-width: thin;
    border-radius: 50px;
    color: green;
    background-color: white;
    border-color: green;
    padding: 1px 3px;
    margin-right: 5px;
    font-size: 8px;
}

.tags {
    padding: 4px 10px;
    font-weight: bold;
    font-size: xx-small;
    color: white;
    border-style: solid;
    border-radius: 15px;
}

.editorial {
    background-color: royalblue;
    border-color: royalblue;
}

.Q1-Goals {
    background-color: hsl(262deg 68% 67%);
    border-color: hsl(262deg 68% 67%);
}

.Recruiting {
    background-color: hsl(165deg 42% 57%);
    border-color: hsl(165deg 42% 57%);
}
.Mobile {
    background-color: hsl(34deg 88% 57%);
    border-color: hsl(34deg 88% 57%);
}
.website {
    background-color: hsl(328deg 60% 62%);
    border-color: hsl(328deg 60% 62%);
}
.Sales {
    background-color: hsl(69deg 68% 47%);
    border-color: hsl(69deg 68% 47%);
}


